<h2>Show game</h2>

<div class="board">
  <%= for row <- @state.board do %>
    <div class="row">
      <%= for piece <- row do %>
        <a class="piece <%= piece |> Chess.Game.Piece.format_class %>"></a>
      <% end %>
    </div>
  <% end %>
</div>

<%= link "Edit", to: game_path(@conn, :edit, @game) %>
<%= link "Back", to: game_path(@conn, :index) %>
